.create-form {
  background-color: var(--background);
  border-radius: 16px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0px 0px 4px rgba(123, 87, 223, 0.3);
  width: 50%;
  height: 100%;
  margin: auto;
  position: relative;
}
.create-form::-webkit-scrollbar {
  display: none;
}

.cancel-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
